# This is a template .npmrc file for using GitHub Packages
# Replace GITHUB_TOKEN with your personal access token with packages:read permission

@forge:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
